<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Ваша корзина</h1>

    {% if products and products|length > 0 %}
        <ul>
            {% for item in products %}
                <li>
                    <h2>{{ item.product_name }}</h2>
                    <p>Количество: {{ item.quantity }}</p>
                </li>
            {% endfor %}
        </ul>
        <h3>Общая стоимость: {{ total_cost }} тенге</h3>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}

    <a href="/products">Вернуться к продуктам</a>

</body>
</html>
